@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #020617, #0f172a);
  color: white;
}